@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Poppins:wght@700&family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input {
  outline: 0;
  border: 0;
}
a {
  text-decoration: none;
}
button{
  outline : 0;
  border : none;
  cursor: pointer;
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}
img{
  object-fit: cover;
}
@media screen and (min-width: 728px) {
  .mobile{
    display : none;
  }
}
@media screen and (min-width: 728px) {
  
}